.page-title{
  text-align: center;
}

table{
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color: #fff0f0;
}

td{
  width: 150px;
  height: 150px;
  display: inline-block;
  background: #ffffff;
  margin: 7px;
  font-size: 8em;
  text-align: center;
}

.reset{
  text-align: center;
}
